In [8]:
year = int( input ('Please enter a year:'))
if year>1582:
  if year%400==0 or (year%4==0 and year%100!=0):
    print ('閏年')
  else:
    print ('平年')
else:
  if year%4==0:
    print ('閏年')
  else:
    print ('平年')

Please enter a year:1800
平年

In [9]:
year = int( input ('Please enter a year:'))
if year>1582:
  if year%400==0 or (year%4==0 and year%100!=0):
    print ('閏年')
  else:
    print ('平年')
else:
  if year%4==0:
    print ('閏年')
  else:
    print ('平年')

Please enter a year:1400
閏年